<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ $css := resources.Get "main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{ end }}
  </head>
  <body>
    <main>{{ block "main" . }}{{ end }}</main>
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
